<table class="table table-striped">
    <TableHeader></TableHeader>
    <TableBody Products="Products"></TableBody>
</table>

@code {
    [Parameter]
    public List<Product> Products { get; set; }

}
